body.menu-active .navigation .nav-menu {
  transform: translateX(0);
}

body.menu-active .navigation .mobile-toggle span:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

body.menu-active .navigation .mobile-toggle span:last-child {
  transform: rotate(135deg) translate(-5px, 5px);
}

body.menu-active .navigation .mobile-toggle span:nth-child(2) {
  opacity: 0;
}

.navigation .nav-menu {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  right: auto;
  bottom: auto;
  padding: 20px 0;
  background-color: #424242;
  transition: all .3s ease;
  transform: translateX(-300px);
}

.navigation .nav-menu a {
  display: block;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none !important;
  transition: all .3s ease;
  text-transform: uppercase;
  font-weight: 500;
}

.navigation .nav-menu a:hover, .navigation .nav-menu a.active {
  background-color: #e41641;
  color: #fff;
}

.navigation .nav-menu svg.animated-indicator {
  display: none;
}

.navigation .mobile-toggle {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: auto;
  right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
}

.navigation .mobile-toggle span {
  transition: all .3s ease;
  display: block;
  width: 25px;
  height: 2px;
  margin: 5px 0;
  background-color: #424242;
  z-index: -1;
}

@media (min-width: 768px) {
  .navigation .nav-menu {
    padding: 50px 0 50px 0;
    transform: translateX(0);
    background-color: transparent;
    width: auto;
    text-align: center;
  }
  .navigation .nav-menu a {
    display: inline-block;
    padding: 20px 35px;
    color: #333;
    background-color: transparent !important;
  }
  .navigation .nav-menu a.active {
    color: #333;
  }
  .navigation .nav-menu a:hover, .navigation .nav-menu a.active.hovered {
    color: #ffffff;
  }
  .navigation .nav-menu svg.animated-indicator {
    display: block;
  }
  .navigation .mobile-toggle {
    display: none;
  }
}
